<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/css/reset_plus.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
		<script src="{{ '/js/script.js' | url }}" defer></script>
		<style>{{ extracss }}</style>
    <title>{{ metadata.title }} | {{ title }}</title>
  </head>
  <body>
			<header>
				<h2><a href="#">kristo.fm</a></h2>
				<nav>
					{%- for nav in collections.nav -%}
							<a class="{% if nav.url == page.url %}active{% endif %}" href="{{ nav.url | url }}">{{ nav.data.title }}</a>
					{%- endfor -%}
				</nav>
			</header>
			<main>
						{{ content | safe }}

						<p>Category: <a href="/teaching/search/categories/{{category}}">{{category}}</a></p>

						<p>Tags:
            {% for item in tags %}
              	<a href="/teaching/search/tags/{{ item }}">{{ item }}</a>
            {% endfor %}
						</p>
			</main>
			<footer>
			</footer>
  </body>
</html>
